Step1 - Gathering dataset

In [ ]:
#loading and reading the dataset
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/insurance (2).csv")

In [ ]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
data["sex"].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

Step2 - Data Cleaning/Data preprocessing/Data Wrangling

In [ ]:
#one hot encoding will be done to convert categorical variables to numerical variables
data['sex']=data['sex'].apply({'male':0,'female':1}.get)

In [ ]:
data.head()

   age  sex     bmi  children smoker     region      charges
0   19    1  27.900         0    yes  southwest  16884.92400
1   18    0  33.770         1     no  southeast   1725.55230
2   28    0  33.000         3     no  southeast   4449.46200
3   33    0  22.705         0     no  northwest  21984.47061
4   32    0  28.880         0     no  northwest   3866.85520

In [ ]:
data['smoker']=data['smoker'].apply({'no':0,'yes':1}.get)
data['region']=data['region'].apply({'southeast':0,'southwest':1,'northeast':2,'northwest':3}.get)

In [ ]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       1  16884.92400
1   18    0  33.770         1       0       0   1725.55230
2   28    0  33.000         3       0       0   4449.46200
3   33    0  22.705         0       0       3  21984.47061
4   32    0  28.880         0       0       3   3866.85520

Step3 - Divide the data into dependent(y) and independent(x) variables

In [ ]:
x=data[['age','sex','bmi','children','smoker','region']] #these are the independent variables
y=data['charges'] #this is the dependent variable

In [ ]:
x.head()

   age  sex     bmi  children  smoker  region
0   19    1  27.900         0       1       1
1   18    0  33.770         1       0       0
2   28    0  33.000         3       0       0
3   33    0  22.705         0       0       3
4   32    0  28.880         0       0       3

In [ ]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

Step4 - Splitting the data into training and testing set

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2) #test_size=0.2 means 20%  of the data will be used for testing and remaining 80% will be used for training the machine learning model

In [ ]:
x_train.shape

(1070, 6)

In [ ]:
y_train.shape

(1070,)

In [ ]:
x_test.shape

(268, 6)

In [ ]:
y_test.shape

(268,)

Creating a machine learning model by using Linear Regression algorithm

In [ ]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression() #linear regression algorithm gets activated

In [ ]:
regression.fit(x_train,y_train) #fit() is used to train the machine learning model by providing x_train and y_train as input variables

LinearRegression()

In [ ]:
predictions=regression.predict(x_test) #predict() is used to predict the output from machine learning model which then gets compared to y_test

In [ ]:
predictions #chargest predicted by machine learning model (predicted values)

array([ 5.43244469e+03,  8.21372049e+03,  6.63209396e+03,  2.30198532e+03,
        1.41954820e+04,  2.78236459e+04,  5.45952470e+03,  1.27790272e+04,
        3.88178532e+03,  7.97234240e+03,  1.34656942e+04,  3.56321234e+01,
        9.94726585e+03,  2.55038968e+03,  1.10910083e+04,  1.33223630e+04,
        1.09877368e+04,  1.54106643e+04,  6.44379515e+03,  9.64113503e+03,
       -6.08203613e+01,  5.15069374e+03,  2.98833967e+03,  6.94399768e+03,
        1.84837305e+04,  4.39767338e+03,  3.18185041e+04,  3.36411884e+04,
        1.67691118e+03,  1.54260306e+04,  5.15629424e+03,  3.41496227e+03,
        7.41522735e+03,  9.93749175e+03,  3.42232438e+04,  5.41604518e+03,
        8.49290431e+03,  9.78835987e+03,  3.33019177e+04,  3.04171626e+04,
        3.03497905e+03,  1.99477479e+03,  3.63963177e+04,  3.98139817e+04,
        2.63956889e+03, -2.99851573e+02,  2.97021500e+04,  3.84486325e+04,
        6.04435915e+03,  4.94702888e+03,  1.68293255e+04,  2.96790961e+04,
        9.43412319e+03,  3.23347528e+04,  4.34854115e+03,  8.43017784e+03,
        2.05480113e+03,  1.14588651e+04,  1.01220575e+04,  1.06655451e+04,
        3.22293014e+04,  4.40292005e+03,  1.38988848e+04,  1.00514913e+04,
        3.42595693e+04,  9.62906816e+03,  2.99240146e+04,  3.82775822e+02,
        3.83293075e+04,  1.06003271e+04,  1.43022998e+04,  3.13944552e+04,
        2.62795927e+04,  1.59273324e+04,  2.94155348e+03,  1.04931271e+04,
        7.45947429e+03,  1.10879355e+04,  9.36115043e+03,  1.55472895e+04,
        1.71541896e+04,  7.33640853e+03,  8.44294599e+03,  9.84321943e+03,
        1.10940559e+04,  5.03738133e+03,  3.55035593e+04,  8.28872611e+03,
        2.23966587e+03,  3.54146397e+04,  1.46407847e+04,  8.85976798e+03,
        3.15600599e+04,  2.42917837e+04,  3.22277081e+04,  1.42546545e+04,
        5.43824469e+03,  2.18821995e+03,  1.50565006e+04,  1.15966446e+04,
        1.12755344e+04,  1.12084419e+04,  1.38853369e+04,  1.43432141e+04,
        5.51095138e+03,  6.94677793e+03,  3.28695684e+03,  2.71620873e+03,
        1.11036752e+04,  9.50244841e+03,  2.65890634e+04,  6.10793231e+03,
        7.91676951e+03,  3.38738196e+04,  6.20168550e+03,  4.02056380e+04,
        1.18579081e+04,  1.21359396e+04,  3.37662542e+04,  1.37582117e+04,
        1.17708556e+04,  8.18122030e+03,  3.13758480e+03,  1.00957007e+03,
        9.75472027e+03,  1.20715068e+04, -1.82485953e+02,  1.13040598e+04,
        2.73466766e+04,  1.33197760e+04,  1.42181475e+04, -8.63533228e+02,
        3.07697068e+04,  1.18514350e+04,  1.52055857e+03,  3.54792388e+04,
        3.14252501e+03,  1.23286844e+04,  1.63373762e+04,  4.38330062e+03,
        3.38576944e+03,  2.67365689e+04,  7.81121104e+03,  9.82097247e+03,
        8.43122509e+03,  3.35632932e+03,  1.56800154e+04,  1.26381890e+04,
        3.39129254e+04,  2.78567440e+03,  1.38678979e+04,  1.09278976e+04,
        1.18507160e+04,  6.98659139e+03,  1.58015480e+04,  2.90382353e+04,
        2.93135928e+04,  1.01735497e+04,  9.49830898e+03,  2.23966587e+03,
        1.19498275e+04,  3.58235491e+04,  7.11522395e+03,  3.60766464e+04,
        3.14116213e+04,  3.72549436e+04,  3.09172919e+04,  2.91236149e+04,
        3.86906530e+03,  1.20908468e+04,  3.92419387e+04,  1.32936891e+04,
        1.37436383e+04,  9.52812825e+03,  1.43108676e+04,  3.47983586e+04,
        1.05053006e+04,  2.27645889e+03,  1.40593894e+04,  1.69802706e+04,
        4.68581111e+03,  3.01825457e+04,  1.49249349e+04,  1.03764088e+04,
        1.49897806e+04,  1.55187231e+04,  8.37965211e+03,  2.87084684e+03,
        4.86096979e+03,  8.93919486e+03,  9.51455627e+03,  3.52802792e+03,
       -9.47065681e+02,  6.40497670e+03,  2.76147877e+04,  9.58795542e+03,
        3.31982717e+04,  1.35977069e+04,  4.22109546e+03,  4.23286177e+03,
        1.22625388e+04,  2.83529881e+04,  1.29629254e+04,  1.41391951e+03,
        1.42542611e+04,  4.25869468e+03,  1.23672630e+04,  3.90037148e+03,
        3.70389389e+04,  6.61048088e+03,  1.24893371e+04,  1.51661801e+04,
        3.19026563e+04,  2.63440896e+03,  3.93103114e+03,  3.12990828e+04,
        1.14220928e+04,  1.71389558e+04,  1.85884276e+03,  3.71086184e+04,
        1.53000585e+04,  2.93543258e+04,  2.97942156e+04,  1.08478506e+04,
        6.08521198e+03,  1.19831005e+04,  5.38695866e+03,  6.47258214e+03,
        6.48945552e+03,  2.79030454e+04,  1.05533060e+04,  3.45059807e+04,
        8.10814115e+03,  4.42891356e+03,  2.54981660e+04,  3.92675859e+04,
        1.10304959e+03,  5.54259674e+03,  4.71755101e+03,  1.30146252e+04,
        5.61214322e+03,  2.41109316e+04,  1.54984104e+04,  1.14009462e+04,
        3.99652425e+03,  5.11622720e+03,  2.68899571e+03,  8.74273559e+03,
        1.42355339e+04,  2.99323941e+04,  3.17083119e+03,  1.14782383e+04,
        2.68324826e+03,  1.07949783e+04,  7.26178885e+03,  1.12124810e+04,
        6.20727051e+03,  3.46985195e+04,  5.10824073e+03,  3.00219666e+04,
        8.20644721e+03,  1.60211854e+04,  3.85533530e+04,  2.98572628e+03,
        7.71684502e+03,  9.78024670e+03,  2.15589360e+03,  1.48585825e+04])

In [ ]:
regression.score(x,y)

0.7501858695393262

For a new customer, how much should be the insurance cost (charges) ?

In [ ]:
#new customer  - new data
data_new={'age':65,'sex':0,'bmi':24,'children':2,'smoker':1,'region':2}

In [ ]:
index=[1] #serial number
my_data=pd.DataFrame([data_new],index=[1])

In [ ]:
my_data

   age  sex  bmi  children  smoker  region
1   65    0   24         2       1       2

In [ ]:
new_predictions=regression.predict(my_data)
print("the insurance cost(charges) for the new customer will be",new_predictions)

the insurance cost(charges) for the new customer will be [36662.48907703]