CASE STUDY

step1- Gathering dataset

In [ ]:
#loading and reading the dataset
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/insurance (2).csv")

In [ ]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

Step 2- Data cleaning/data preprocessing / Data wrangling

In [ ]:
# one hot encoding will be done to convert categorical variables to numerical variables
data['sex']=data['sex'].apply({'male':0,'female':1}.get)

In [ ]:
data.head()

   age  sex     bmi  children smoker     region      charges
0   19    1  27.900         0    yes  southwest  16884.92400
1   18    0  33.770         1     no  southeast   1725.55230
2   28    0  33.000         3     no  southeast   4449.46200
3   33    0  22.705         0     no  northwest  21984.47061
4   32    0  28.880         0     no  northwest   3866.85520

In [ ]:
data['smoker']=data['smoker'].apply({'no':0,'yes':1}.get)
data['region']=data['region'].apply({'southeast':0,'southwest':1,'northeast':2,'northwest':3}.get)

In [ ]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       1  16884.92400
1   18    0  33.770         1       0       0   1725.55230
2   28    0  33.000         3       0       0   4449.46200
3   33    0  22.705         0       0       3  21984.47061
4   32    0  28.880         0       0       3   3866.85520

step3- Divide the data into dependent(y) and independent(x) variables

In [ ]:
x=data[['age','sex','bmi','children','smoker','region']] # these are the independent variables
y=data['charges'] # these is the dependent variable

In [ ]:
x.head()

   age  sex     bmi  children  smoker  region
0   19    1  27.900         0       1       1
1   18    0  33.770         1       0       0
2   28    0  33.000         3       0       0
3   33    0  22.705         0       0       3
4   32    0  28.880         0       0       3

In [ ]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

Step4-Splitting the data into training and testing set

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)  #test_size=0.2 means 20% data used for testing and remaining 80% data for training the machine learning model

In [ ]:
x_train.shape

(1070, 6)

In [ ]:
y_train.shape

(1070,)

In [ ]:
x_test.shape

(268, 6)

In [ ]:
y_test.shape

(268,)

Creating machine learning model by using Linear regression algorithm

In [ ]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()  #linear regression algorithm gets activated

In [ ]:
regression.fit(x_train,y_train)

LinearRegression()

In [ ]:
regression.fit(x_train,y_train)   #fit() is used to train the machine learning model by providing x_train and y_train as input variables

LinearRegression()

In [ ]:
predictions=regression.predict(x_test)  #predict() is used to predict the output from machine learning model which then gets compared to y_test

In [ ]:
predictions #charges: predicted by machine learning model (predicted values)

array([12271.72754227, 29329.04991235,  9364.05436103, 31855.26849524,
       11401.3091317 , 23417.97194346, 17730.45206069, 12023.39798514,
        4421.31743821,  9197.56376156, 12457.44201642,  3523.97623446,
         830.09527611, 31459.01874271,  4382.77289646, 34320.9516837 ,
       11362.9606613 ,  1944.9703218 , 34678.14165109,  5464.41719592,
        3143.7404522 ,  5489.17603053, 11178.52840305,  9618.2365186 ,
        2996.27524891, 34232.79424292,  6863.31832456, 13006.81387201,
       14718.45692343, 12775.01901507,  8929.12490141,  3352.12255816,
        8033.38304192, 11404.9049683 , 33617.26174647, 14590.13366992,
       31176.85030109, 30071.94441928, 25566.70274277,  6855.51545418,
        3891.77967442,  6501.21036914,  8686.08216651,  3776.87194312,
       11777.15035425, 30471.25776427,  7879.92079633,  9195.83590952,
       16074.26526019, 27921.96432155, 23773.88122235,  4261.99601405,
       29391.17565859, 13488.67424366, 12280.02866547, 12131.53962276,
        3723.09490752,  7523.23222008, 36372.52691725,  6585.03782105,
       14343.85340563,  6027.64976994, 28121.5269124 ,  7062.83739145,
        3835.1983235 ,  3634.18200435, 10940.37252629, 28234.09197804,
        3001.6381491 , 14787.32734579, 30509.30881269, 25699.63208331,
       39186.04769014,  8283.7940854 ,  8479.12112745,   563.55289814,
       12367.45491566, 19574.78657876, 29669.97769235,  2471.67885801,
       39241.95838582,  1284.74605269,  7533.8523502 , 19203.63328161,
       35536.37018977,  9269.27248341,  1358.21131825,  9511.18194355,
        4925.10373122, 11821.87306995,  4402.61436979, 25928.95586405,
       28237.27410573,  2782.34038192,  4716.82675837, 18286.78984642,
       15552.25507914,  2753.81762791,  8751.45684183,  4361.56312873,
       17453.96408035, 38824.25964093, 14155.53796875, 12147.93725955,
       -1000.68151559,  2208.44380052, 10554.09500674, 14481.93977912,
       28912.45864301,  2007.14345432, 11722.37304075, 11538.40180541,
        5187.04254392, 33982.40307528, 34721.37591603, 10155.30626111,
       29817.45872232, 14544.50575747,  9377.22517514, 18166.40283796,
        7802.31127004, 40611.00416858,  5241.56955845,   392.66145211,
        6001.03519208,  2565.33077586,  3947.3962733 ,  8237.99519768,
       12830.8570344 , 24769.39120398,  6212.87903292,  5038.67887065,
        7107.62899041, 30712.67419179, 10479.84180835, 15929.57188747,
       36390.99551338,  4835.25414091,  4482.35583781,  4685.166038  ,
        7743.32475429,  -164.40993854, 17060.89124244,  8080.36935565,
        9187.10660148, 11913.47569495,  8651.44949505, 33132.32285633,
        5800.22301873,  8385.17773179, 15720.96601593,  2396.95421408,
       31510.74622939, 15972.30187593, 11192.87477257,  4303.59254091,
       12460.12545139, 30858.12365367, 11333.84117172,  5961.19871795,
        6520.50655668,  5868.61057505, 13431.42206086, 16096.89160574,
        2084.17514082,  9586.2079584 , 12255.10120072,  7736.46135608,
        9506.00718584, 14228.28401156, 13055.85244027, 14923.84200307,
        7225.44813745,  9790.14496984,  7819.13331226,  1494.98741093,
       23058.99701108,  6852.02394015,  7858.87372518,  5781.42552392,
        5949.17415101,  5090.16596167,  4249.29440779,  9712.07361725,
       35746.8741575 ,  3111.831054  , 10626.34550536, 34195.75758072,
        1774.67038395,  2561.50506346,  4571.78066219,  9363.82996869,
       32029.26346924,  8230.99240114, 11868.99878202,  2995.94562624,
       30582.93407639, 10454.6741246 ,  2888.13792372, 40169.48012768,
       30922.8369503 , 15223.7939932 ,  -407.69748895,  8721.18986176,
       40196.6007798 , 12061.05574781,  3052.7453387 , 14263.50080967,
        9764.38209223,    57.89313712,  1038.51066004, 13085.79304343,
       15102.89174136, 11431.87730604, 28362.95017412,  7561.31124985,
        7998.49414813,  6389.44717513, 17423.69710028, 27395.84729352,
       35458.90617203, 14234.46605802,  7805.86329861,  8971.91766291,
        5516.25657049,  2509.65751415,  2530.37838503, 26128.9385479 ,
         667.8878958 ,  1923.32481104,  8395.18062375, 10312.61076976,
       12115.60318553, 14467.67273332, 16067.72841554, 33505.70396959,
        3879.18005274,  2712.0027395 , 10259.6185979 , 10254.61255695,
       27822.20599528,  3312.55041189, 36067.93259022,  9077.72942044,
       28878.37530651,  9311.44837744, 10092.62174752,  1841.2343905 ,
       14782.13037732,   873.39852154,  4146.14252372, 13170.29483625,
        3745.72584957, 27799.62785375, 14509.05170204, 37789.94502268,
        5359.12744675, 16152.88207523,  8252.39769288,  6536.14899434,
       14317.71683405, 11766.65227859, 18734.81465876,  9583.15813158,
        5352.99765347, 36505.79387857, 10867.76237279,  7010.7950421 ])

In [ ]:
regression.score(x,y)

0.749707047065

for a new customer how much should be the insurance cost (charges)?

In [ ]:
#new customer - new data
data_new={'age':35,'sex':1,'bmi':23,'children':2,'smoker':0,'region':2}

In [ ]:
index=[1]  #serial number
my_data=pd.DataFrame(data_new,index)

In [ ]:
my_data

   age  sex  bmi  children  smoker  region
1   35    1   23         2       0       2

In [ ]:
new_predictions=regression.predict(my_data)
print("the insurance cost(charges) for the new customer wil be",new_predictions)

the insurance cost(charges) for the new customer wil be [5382.36940932]